@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap");

* {
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #3d3b40;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.search-box {
    width: 40rem;
    height: 3.6rem;
    display: flex;
}

input {
    width: 90%;
    height: 100%;
    font-size: 1.2rem;
    font-family: "Noto Sans", sans-serif;
    color: #fff;
    background-color: inherit;
    border: 1px solid #adb5bd;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 1rem;
}

input:focus {
    outline: none;
    border: 1px solid rgb(181, 23, 158);
    box-shadow: 0 0 0 4px rgba(181, 23, 158, 0.5);
    transition: box-shadow 200ms, border 200ms;
    transition-timing-function: linear;
}

.search-icon {
    width: 10%;
    height: 100%;
    background-color: inherit;
    border: 1px solid #adb5bd;
    border-left: none;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon:active {
    border: 1px solid rgb(181, 23, 158);
    box-shadow: 0 0 0 4px rgba(181, 23, 158, 0.5);
    transition: box-shadow 100ms, border 100ms;
    transition-timing-function: linear;
    img {
        transform: scale(1.2, 1.2);
        transition: transform 100ms;
    }
}

img {
    width: 60%;
    height: 60%;
}
